.container {  display: grid;
    grid-template-columns: 1.3fr 0.7fr 1fr;
    grid-template-rows: 0.2fr 0.6fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "clicker store store"
      "clicker store store";
    height: 100vh;
  }
  
  .header { grid-area: header;
    background-color: #3d9bf9; 
    }
  
  .clicker { grid-area: clicker; 
    background-color: #B8E1FF;
    text-align: center;
    }
  
  .store { grid-area: store; 
    background-color: #79b4f3;
    border-left: black;
    }


.item {
    background-color: #E1D9B5;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.options {
  height: 400px;
  overflow-y: scroll;
  border-width: 10px;
}

.icon {
  float: left;
}

.volumeBtn {
  background-color: transparent;
  border-width: 0px;
  margin: auto;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.volumeBtn:hover {
  background-color: #B8E1FF;
}

button:disabled div { 
  cursor: not-allowed;
  background-color: black;
}

button:disabled div:hover {
  background-color: black;
}

.itembtn {
  background-color: transparent;
  border-width: 0px;
  margin: auto;
  width: 100%;
}

.itembtn div {
  font-family: 'Courier New', Courier, monospace;
}

.itembtn div:hover {
  background-color: bisque;
}

.itembtn:active {
  transform: scale(0.9);
}

#clickerbtn {
  background-color: transparent;
  border-width: 0px;
  margin-left: auto;
}

#clickerbtn:active {
  transform: scale(0.7);
}

#volumeControl {
  text-align: center;
  margin-bottom: 10px;
}

#bookTracker {
  padding: 5px;
  margin-inline: 120px;
  text-align: center;
  background-color: #E1D9B5;
  border: 2px solid black;
  border-radius: 2px;
}

#bookTracker:hover {
  background-color: bisque;
}

button img {
 margin: auto;
}
